---
// Root redirect to screenshot resizer
---

<script is:inline>
  window.location.href = '/screenshot-resizer';
</script>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content="0; url=/screenshot-resizer" />
    <title>Redirecting...</title>
  </head>
  <body>
    <p>Redirecting to <a href="/screenshot-resizer">Screenshot Resizer</a>...</p>
  </body>
</html>
