---
// Device toggle - iPhone/iPad segmented control
---

<div class="mb-6">
  <label class="control-label">Device</label>
  <div id="device-toggle" class="segmented-control">
    <button
      data-device="iphone"
      class="segmented-button active"
    >
      iPhone
    </button>
    <button
      data-device="ipad"
      class="segmented-button"
    >
      iPad
    </button>
  </div>
</div>
